<!--Registration Page Starts-->
<section id="regestration">
  <div class="container">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-body">
            <div class="row d-flex">
              <div class="col-12 col-sm-12 col-md-6 gradient-deep-orange-orange">
                <div class="card-block">
                  <div class="card-img overlap">
                    <img alt="Card image cap" src="assets/img/elements/13.png" width="350" class="mx-auto d-block">
                  </div>
                  <h2 class="card-title font-large-1 text-center white mt-3">Registration</h2>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 d-flex align-items-center">
                <div class="card-block mx-auto">
                  <form (submit)="onSubmit($event)" [formGroup]="regularForm" novalidate>
                    <div class="form-body">
                      <div class="form-group">
                        <div class="position-relative has-icon-left">
                          <div class="form-control-position">
                            <i class="fa fa-user"></i>
                          </div>
                          <input type="text" class="form-control" formControlName="reg_username" placeholder="Username"
                                 required>
                          <small class="form-text text-muted danger"
                                 *ngIf="!regularForm.get('reg_username').valid && (regularForm.get('reg_username').dirty || regularForm.get('reg_username').touched)">
                            Please enter your desired username!
                          </small>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="position-relative has-icon-left">
                          <div class="form-control-position">
                            <i class="fa fa-send"></i>
                          </div>
                          <input type="email" class="form-control" formControlName="reg_email" placeholder="Email">
                          <small class="form-text text-muted danger"
                                 *ngIf="!regularForm.get('reg_email').valid && (regularForm.get('reg_email').dirty || regularForm.get('reg_email').touched)">
                            Please enter your email id!
                          </small>
                        </div>

                      </div>
                      <div class="form-group">
                        <div class="position-relative has-icon-left">
                          <div class="form-control-position">
                            <i class="fa fa-lock"></i>
                          </div>
                          <input type="password" class="form-control" formControlName="reg_password" id="reg_password"
                                 placeholder="Password">
                          <small class="form-text text-muted danger"
                                 *ngIf="!regularForm.get('reg_password').valid && (regularForm.get('reg_password').dirty || regularForm.get('reg_password').touched)">
                            Please enter your password!
                          </small>
                        </div>

                      </div>
                      <div class="form-group col-sm-offset-1">
                        <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                          <input type="checkbox" class="custom-control-input" checked>
                          <span class="custom-control-indicator"></span>
                          <span class="pl-2">I agree <a>terms and conditions</a></span>
                        </label>
                      </div>
                      <div class="form-group text-center">
                        <button type="submit" class="btn btn-warning btn-raised" [disabled]="!regularForm.valid">Get
                          Started
                        </button>
                      </div>
                    </div>


                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Registration Page Ends-->
