<div class="row">
  <div class="col-sm-12">
    <div class="content-header">Edit Category</div>
  </div>
</div>
<!-- Reactive Form Validaton Starts -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <!--<h4 class="card-title">Regular Form (Reactive Form)</h4>-->
      </div>
      <div class="card-body" *ngIf="oldCategory">
        <div class="card-block">
          <form [formGroup]="regularForm" (submit)="onReactiveFormSubmit()" novalidate>
            <div class="form-group">
              <label for="category_name">Category Name</label>
              <input type="text" class="form-control" id="category_name"
                     formControlName="category_name" required
                     [value]="oldCategory.category_name">
              <small class="form-text text-muted danger"
                     *ngIf="!regularForm.get('category_name').valid && (regularForm.get('category_name').dirty || regularForm.get('category_name').touched)">
                Please enter a category name!
              </small>
            </div>
            <div class="form-group">
              <label for="parent_category_id">Parent Category</label>
              <select class="custom-select d-block w-100 form-control" id="parent_category_id"
                      formControlName="parent_category_id" required >
                <!--<option [value]="0" selected>Open this select menu</option>-->
                <option [value]="category.category_id" *ngFor="let category of categoryList"
                [(selected)]="category.category_id == oldCategory.parent_category_id"
                >{{category.category_name}}</option>

              </select>
              <!--<input type="text" class="form-control" id="parent_category" formControlName="parent_category" required>-->
              <small class="form-text text-muted danger"
                     *ngIf="!regularForm.get('parent_category_id').valid && (regularForm.get('parent_category_id').dirty || regularForm.get('parent_category_id').touched)">
                Please select parent category name!
              </small>
            </div>
            <div class="form-group">
              <label for="category_description">Category Description</label>

              <textarea class="form-control" rows="3" id="category_description" value="oldCategory.category_description || ''" formControlName="category_description"
                        required></textarea>
              <small class="form-text text-muted danger"
                     *ngIf="!regularForm.get('category_description').valid && (regularForm.get('category_description').dirty || regularForm.get('category_description').touched)">
                Please enter category description!
              </small>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-danger btn-raised" (click)="resetForm()">Cancel</button>
              <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Reactive Form Validaton Ends -->
